body
{
	font-family: 'Anton', sans-serif;
font-family: 'Righteous', cursive;
	margin:0px;
	padding:0px;
	background:#ccc;
	overflow:hidden;
}

.box
{
	width:700px;
	height:400px;
	background:#000;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%)
}